{% extends 'DemoPizzaBundle::layout.html.twig' %}

{% block content %}
    <div id="order-step3" class="banner">
        <img src="{{ asset('bundles/demopizza/images/step3.png') }} " alt="Step3" width="176" height="181" />
    </div>
    <div class="row thanks">
        <div class="col-md-12 top-row text-center">
            <span>Thank you for ordering</span>
        </div>
    </div>
{% endblock %}